# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse files
.project
.classpath
.settings/
bin/
target/

# IntelliJ files
.idea/
*.iml

# VS Code
.vscode/

# Other
.DS_Store
